.container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    padding: 15px;
}

header, aside, article, footer, .column {
    padding: 20px;
    text-align: center;
}

header { background-color: #E794d2; }
.left-aside { background-color: #50b0f8; }
article { background-color: #62d19a; }
.column { background-color: #Ea3323; margin-bottom: 5px; }
.right-aside { background-color: #50a2b2; }
footer { background-color: #F3b23e; }

.column-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 900px) {
    .container {
        grid-template-areas: 
            "header header  header  header  header"
            "asideL article article article asideR"
            "footer footer  footer  footer  footer";
        grid-template-columns: 200px 1fr 1fr 1fr 200px;
        gap: 20px;
    }

    header { grid-area: header; }
    .left-aside { grid-area: asideL; }
    article { grid-area: article; }
    .right-aside { grid-area: asideR; }
    footer { grid-area: footer; }

    .column-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
    }
}